---
import agenda from "../../assets/agenda.png?url";
import { Image } from "astro:assets";
---

<section class="section pb-[50px]">
  <h1 class="text-center font-semibold">Agenda</h1>
  <div
    class="mt-12 flex flex-col items-center justify-center gap-12 md:flex-row"
  >
    <Image
      class="w-[650px]"
      src={agenda}
      alt="Agenda image"
      width={1000}
      height={1000}
    />
    <div class="flex-col">
      <p class="w-96">
        Jelajahi berbagai layanan yang kami tawarkan untuk menemukan solusi yang
        tepat untuk kebutuhan Anda. Kami menawarkan berbagai layanan yang dapat
        disesuaikan dengan kebutuhan Anda.
      </p>
      <div class="flex justify-center md:justify-start">
        <a href="/agenda" class="btn btn-primary mt-4 py-[14px] text-center"
          >Learn more</a
        >
      </div>
    </div>
  </div>
</section>
