---
import { getEntryBySlug } from "astro:content";
import { Image } from "astro:assets";

const entry = await getEntryBySlug("homepage", "index");
const images = entry.data.tenant;
---

<section class="section pb-[50px]">
  <div class="container">
    <div class="row text-center">
      <div class="mx-auto lg:col-10">
        <h1 class="font-primary font-semibold">Tenant kami</h1>

        <p class="mb-8 mt-4">
          UPT KIBT Poliwangi telah banyak melakukan kerja sama dengan para
          tenant yang ada di banyuwangi
        </p>

        <div class="flex flex-row flex-wrap items-center justify-center gap-8">
          {
            images.map((image: any) => {
              return (
                <Image
                  src={image}
                  width={200}
                  height={200}
                  alt=""
                  class="h-24 rounded-lg object-contain p-4 shadow-lg"
                />
              );
            })
          }
        </div>
      </div>
    </div>
  </div>
</section>
