---
import Base from "@layouts/Base.astro";
import AgendaItem from "../layouts/components/AgendaItem.astro";
export const prerender = true;

const agendas = await Astro.glob("../content/agenda/*.md");
const sortedAgendas = agendas.sort(
  (a, b) => Date.parse(a.frontmatter.date) - Date.parse(b.frontmatter.date)
);

const getMonth = (number) => {
  switch (number) {
    case 0:
      return "January";
    case 1:
      return "February";
    case 2:
      return "March";
    case 3:
      return "April";
    case 4:
      return "May";
    case 5:
      return "June";
    case 6:
      return "July";
    case 7:
      return "August";
    case 8:
      return "September";
    case 9:
      return "October";
    case 10:
      return "November";
    case 11:
      return "December";
  }
};
---

<Base title="Agenda">
  <section class="section">
    <div class="container">
      <h1 class="text-center font-semibold">Agenda</h1>
      <ol class="relative mt-5 border-s border-gray-200 dark:border-gray-700">
        {
          sortedAgendas.map((agenda: any) => {
            return (
              <AgendaItem
                date={`${getMonth(
                  new Date(agenda.frontmatter.date).getMonth()
                )} ${new Date(agenda.frontmatter.date).getFullYear()}`}
                title={agenda.frontmatter.agenda}
                desc={agenda.frontmatter.description}
              />
            );
          })
        }
      </ol>
    </div>
  </section>
</Base>
