---
import Base from "@layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

import AgendaItem from "../layouts/components/AgendaItem.astro";

const entry = await getEntryBySlug("agenda", "index");
const { content } = entry.data;
export const prerender = true;

const agendas = await Astro.glob("../content/agenda/*.md");

console.log(agendas);
---

<Base title="Agenda">
  <section class="section">
    <div class="container">
      <h1 class="text-center font-semibold">Agenda</h1>

      <ol class="relative mt-5 border-s border-gray-200 dark:border-gray-700">
        {
          content.map((item: any) => {
            return (
              <AgendaItem
                date={item.event.date}
                title={item.event.title}
                desc={item.event.desc}
              />
            );
          })
        }
      </ol>
    </div>
  </section>
</Base>
