---
import Base from "../layouts/Base.astro";
import { MapPin, Phone, Mail } from "lucide-astro";
export const prerender = true;
---

<Base title="Contact">
  <section class="section mx-8">
    <div class="flex justify-center pb-14">
      <div
        class="flex max-w-screen-xl flex-col justify-center gap-6 px-4 text-gray-600 md:flex-row md:px-8"
      >
        <div>
          <h1 class="max-w-md font-semibold">
            Beri tahu kami bagaimana kami dapat membantu
          </h1>
          <p class="mt-2 max-w-md">
            Apakah Anda memiliki pertanyaan, proyek yang sedang dipikirkan, atau
            hanya ingin mengobrol, kami selalu dengan senang hati terhubung.
          </p>
          <div class="mt-5 flex flex-col gap-2">
            <div class="flex items-center gap-4">
              <MapPin />
              <p class="max-w-md font-semibold">
                Jalan Raya Jember No.KM13, Kawang, Labanasem, Kec. Kabat,
                Kabupaten Banyuwangi, Jawa Timur 68461
              </p>
            </div>
            <div class="flex gap-4 font-semibold">
              <Phone />
              <p>(0333) 636780</p>
            </div>
            <div class="flex gap-4 font-semibold">
              <Mail />
              <p>inkubistek@poliwangi.ac.id</p>
            </div>
          </div>
        </div>
        <div
          class="mt-6 max-w-lg gap-12 md:mt-0 lg:flex lg:max-w-none lg:justify-center"
        >
          <div class="max-w-lg lg:max-w-md">
            <form
              action="https://formspree.io/f/xqkrwnzp"
              class="space-y-5"
              name="contact"
              method="post"
              data-netlify="true"
            >
              <div>
                <label class="font-medium"> Full name</label>
                <input
                  name="name"
                  type="text"
                  required
                  class="mt-2 w-full rounded-lg border bg-transparent px-3 py-2 text-gray-500 shadow-sm outline-none focus:border-indigo-600"
                />
              </div>
              <div>
                <label class="font-medium"> Email</label>
                <input
                  name="email"
                  type="email"
                  required
                  class="mt-2 w-full rounded-lg border bg-transparent px-3 py-2 text-gray-500 shadow-sm outline-none focus:border-indigo-600"
                />
              </div>
              <div>
                <label class="font-medium">Message</label>
                <textarea
                  name="message"
                  required
                  class="mt-2 h-36 w-full resize-none appearance-none rounded-lg border bg-transparent px-3 py-2 shadow-sm outline-none focus:border-indigo-600"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary w-full">
                Submit</button
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
