---
import Base from "@layouts/Base.astro";
// import { getEntryBySlug } from "astro:content";
// const entry = await getEntryBySlug("gallery", "index");
// const { title, description, info } = entry?.data;
// const { contents } = entry?.data;
// const gallery = await Astro.glob("../../public/images/gallery/*");
export const prerender = true;

// const removeDrafts = removeIndex.filter((data: any) => !data.data.draft);
const allImages = await Astro.glob("../content/gallery/*");
const filteredImages = allImages.filter((data) => data.frontmatter.draft == false
);

console.log(filteredImages);
---

<Base title="Gallery">
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal">Gallery</h1>
      <div class="section row pb-0">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
          {
            filteredImages.map((image) => {
              return (
                <div>
                  <img
                    class="h-80 w-80 rounded-lg object-cover"
                    src={
                      image.frontmatter.image
                        ? image.frontmatter.image
                        : "images"
                    }
                    alt={image.frontmatter.title}
                  />
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
  </section>
</Base>
