---
export const prerender = true;
import Base from "@layouts/Base.astro";
const allImages = await Astro.glob("../content/gallery/*");
const filteredImages = allImages.filter(
  (data) => data.frontmatter.draft == false
);

---

<Base title="Gallery">
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal">Gallery</h1>
      <div class="section row pb-0">
        {
          filteredImages.length != 0 ? (
            filteredImages.map((image) => {
              return (
                <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
                  <img
                    class="h-80 w-80 rounded-lg object-cover"
                    src={image.frontmatter.image}
                    alt={image.frontmatter.title}
                  />
                </div>
              );
            })
          ) : (
            <div class="my-20 flex items-center justify-center">
              <h1>No images</h1>
            </div>
          )
        }
      </div>
    </div>
  </section>
</Base>
