---
import { Image } from "astro:assets";
export const prerender = true;
import Base from "@layouts/Base.astro";
const allImages = await Astro.glob("../content/gallery/*");
const filteredImages = allImages.filter(
  (data) => data.frontmatter.draft == false
);
---

<Base title="Gallery">
  <section class="section">
    <div class="container">
      <h1 class="text-center font-semibold">Gallery</h1>
      <p class="mx-auto mt-6 text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus itaque
        aperiam quis perspiciatis sequi dolor. Dolorum at aperiam, architecto
        fugiat minima id voluptas quisquam, mollitia, repellat officiis dicta
        recusandae molestiae?
      </p>
      <div class="section row pb-0">
        <div class="md:grid md:grid-cols-3"></div>
        {
          filteredImages.length != 0 ? (
            filteredImages.map((image) => {
              return (
                <Image
                  class="h-80 w-80 rounded-lg object-cover"
                  src={image.frontmatter.image}
                  alt={image.frontmatter.title}
                  width={1000}
                  height={1000}
                />
              );
            })
          ) : (
            <div class="my-20 flex items-center justify-center">
              <h1>No images</h1>
            </div>
          )
        }
      </div>
    </div>
  </section>
</Base>
