---
import Base from "@layouts/Base.astro";
import { getEntryBySlug } from "astro:content";
import { Image } from "astro:assets";

const entry = await getEntryBySlug("gallery", "index");

const gallery = await Astro.glob("../../public/images/gallery/*");

// const { title, description, info } = entry?.data;

const { contents } = entry?.data;
---

<Base title="Gallery">
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal">Gallery</h1>
      <div class="section row pb-0">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
          {
            gallery.map((image: any) => {
              return (
                <div>
                  <img
                    class="h-80 w-80 rounded-lg object-cover"
                    src={image.default.src}
                    alt="p"
                  />
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
  </section>
</Base>
